*.iml
.gradle
/local.properties
/.idea/
.DS_Store
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/

# iOS
iosApp/*.xcodeproj
iosApp/*.xcworkspace
iosApp/DerivedData/
iosApp/**/xcuserdata/
iosApp/**/*.xcuserstate
iosApp/.swiftpm/
